:root{
  background-color: #0d164891;
}




nav.navbar{
  margin-left: 300px;
  width: 550px;
  height: 91px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #ffffff;
  
}

nav.dark {
  margin-left: 300px;
  width: 550px;
  height: 91px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #21222A;
}

.reactfacts{
  margin-left: 7px;
  margin-right: 190px;
  color: #61dafb;
  font-family: Inter;
  font-size: 22.253px;
  font-weight: 700;
  letter-spacing: -1.113px;
}

.image{
  margin-left: 40px;
}

.react1{
  margin-top: 40px;
  color: #DEEBF8;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.toggler {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-family: Inter;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
} 

/**Main**/

.main{
  font-family: Inter;
  margin-left: 300px;
  width: 550px;
  height: 459px;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  color: #2b283acd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

}

main.dark {
  font-family: Inter;
  margin-left: 300px;
  width: 550px;
  height: 459px;
  display: inline-flex;
  flex-direction: column;
  background-color: #282D35;
  color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1; 
      
}

.main-div{
  width: 550px;
  height: 459px;
  position: relative;
}

.main-h1{
  font-size: 39.06px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.953px;
  margin-left: 27px;
  margin-top: 40px;
  margin-bottom: 10px;

}

.main-ul{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  margin-left: 27px;
}
.main-ul > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

.main-ul-li{
  line-height: 20px;
}

.main--div--img{
  position: absolute;
  right: 0;
  top: 0;
}

